@mixin flex-position(
    $direction: row,
    $justify: center,
    $align-items: center,
    $gap: 0rem
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align-items;
    gap: $gap;
}
