@use 'variables' as *;

@mixin flex-position(
    $direction: row,
    $justify: center,
    $align-items: center,
    $gap: 0rem
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align-items;
    gap: $gap;
}

@mixin outline(
    $style: dashed,
    $color: $accent-color,
    $width: 0,
    $offset: 0.5rem,
    $outline-radius: 0rem
) {
    outline: $style $color;
    outline-offset: $offset;
    border-radius: $outline-radius;
    @if $width > 0 {
        outline-width: $width;
    }
}
