@use './styles/model/_index.scss' as *;
@import './reset.scss';

body {
    background-color: $background--dark-theme;
    font-size: $font-size--base;
    font-family: $font-family;
    color: $text-color--dark-theme;
}
#app {
    @include flex-position(column);
}

h1 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 0.09rem;
    line-height: 1.5;
}

h3 {
    font-size: 1rem;
    letter-spacing: 0.05rem;
}

p {
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
}

a {
    color: $accent-color--secondary;
    background: none;

    &:visited {
        color: $accent-color;
    }

    &:not(:visited) {
        color: $accent-color--secondary;
    }
}
